<html>
  <head>
    <title>Chart</title>
    <style>
      main {
        margin: 0 auto;
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <main>
      <div id="chart"></div>
      Limit <input type="number" id="limit" value="300" /> <br />
      SMA <input type="checkbox" id="sma-enable" /> Period1 <input id="sma-period1" /> Period2 <input id="sma-period2" /> Period3 <input id="sma-period3" /> <br />
      EMA <input type="checkbox" id="ema-enable" /> Period1 <input id="ema-period1" /> Period2 <input id="ema-period2" /> Period3 <input id="ema-period3" /> <br />
      <button id="chart-update-button">OK</button>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
      <script>
        async function drawChart() {
          const { candles, signalEvents } = await axios
            .get("/api/candles")
            .then((res) => {
              return {
                candles: res.data.candles,
                signalEvents: res.data.signal_events
              }
            });
          var options = {
            series: [
              {
                name: "candlestick",
                type: "candlestick",
                data: candles.map((candle) => {
                  return {
                    x: candle.timestamp,
                    y: [candle.open, candle.high, candle.low, candle.close],
                  };
                }),
              },
            ],
            chart: {
              type: "line",
              height: 350,
            },
            title: {
              text: "CandleStick Chart",
              align: "left",
            },
            xaxis: {
              type: "datetime",
              labels: {
                  datetimeUTC: false,
              }
            },
            yaxis: {
              tooltip: {
                enabled: true,
              },
            },
            annotations: {
              xaxis: signalEvents.map((signalEvent) => {
                const color = signalEvent.side === "BUY" ? "#f08080" : "#6495ed";
                return {
                  x: new Date(signalEvent.created_at).getTime(),
                  borderColor: color,
                  label: {
                    borderColor: color,
                    style: {
                      fontSize: "10px",
                      color: "#fff",
                      background: color,
                    },
                    orientation: "horizontal",
                    offsetY: 7,
                    text: signalEvent.side,
                  }
                }
              })
            },
            stroke: { // seriesで指定したデータの描画で使われるwidth 更新に備えて、余分に用意しておく
              width: [1, 2, 2, 2, 2, 2, 2]
            },
          };
          var chart = new ApexCharts(document.querySelector("#chart"), options);
          chart.render();

          document.getElementById("chart-update-button").onclick = async () => {
            params = {};
            if (document.getElementById("limit").value > 300) {
              document.getElementById("limit").value = 300;
            }
            params.limit = document.getElementById("limit").value;

            if (document.getElementById("sma-enable").checked) {
              params.sma = true;
              params.smaPeriod1 = document.getElementById("sma-period1").value;
              params.smaPeriod2 = document.getElementById("sma-period2").value;
              params.smaPeriod3 = document.getElementById("sma-period3").value;
            }

            if (document.getElementById("ema-enable").checked) {
              params.ema = true;
              params.emaPeriod1 = document.getElementById("ema-period1").value;
              params.emaPeriod2 = document.getElementById("ema-period2").value;
              params.emaPeriod3 = document.getElementById("ema-period3").value;
            }

            const dataFrame = await axios
              .get("/api/candles", { params: params })
              .then((res) => res.data);

            const candles = dataFrame.candles;
            let series = [
              {
                name: "candlestick",
                type: "candlestick",
                data: candles.map((candle) => {
                  return {
                    x: candle.timestamp,
                    y: [candle.open, candle.high, candle.low, candle.close],
                  };
                }),
              },
            ];

            if (dataFrame.smas) {
              const smas = dataFrame.smas;
              smas.forEach((sma) => {
                let datas = [];
                sma.values.forEach((value, i) => {
                  if (value != 0) {
                    datas.push({
                      x: candles[i].timestamp,
                      y: value,
                    });
                  }
                });
                series.push({
                  name: `sma-period${sma.period}`,
                  type: "line",
                  data: datas,
                });
              });
            }

            if (dataFrame.emas) {
              const emas = dataFrame.emas;
              emas.forEach((ema) => {
                let datas = [];
                ema.values.forEach((value, i) => {
                  if (value != 0) {
                    datas.push({
                      x: candles[i].timestamp,
                      y: value
                    });
                  }
                });
                series.push({
                  name: `ema-period${ema.period}`,
                  type: "line",
                  data: datas,
                });
              });
            }

            chart.clearAnnotations();
            const signalEvents = dataFrame.signal_events;
            signalEvents.forEach((signalEvent) => {
              const color = signalEvent.side === "BUY" ? "#f08080" : "#6495ed";
              chart.addXaxisAnnotation({
                x: new Date(signalEvent.created_at).getTime(),
                borderColor: color,
                label: {
                  borderColor: color,
                  style: {
                    fontSize: "10px",
                    color: "#fff",
                    background: color,
                  },
                  orientation: "horizontal",
                  offsetY: 7,
                  text: signalEvent.side,
                },
              });
            });

            chart.updateSeries(series);
          };
        }

        drawChart();
      </script>
    </main>
  </body>
</html>
